@page "/"

<PageTitle>Index</PageTitle>

<SwipeCardList>
    <CardItem>
        <h1>hello world!</h1>
    </CardItem>
</SwipeCardList>

<div>
    <label>Card Count: </label>
    <button>Add Card</button>
    <select></select>
    <button>Remove Card</button>
</div>

@code {

}