################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sample/bin/Debug/net6.0
/Sample/obj
/SwipeCard/.vs
/SwipeCard/SwipeCard/bin/Debug/net6.0
/SwipeCard/SwipeCard/obj
