@inject IJSRuntime js
<div class="my-component" @onclick="() => interlop.Prompt(string.Empty)">
    This component is defined in the <strong>SwipeCard</strong> library.
</div>

<div id="swipeboard" style="background-color: darkblue">

</div>

@code {
    ExampleJsInterop interlop;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        interlop = new ExampleJsInterop(js);

        await interlop.Start();
        await base.OnAfterRenderAsync(firstRender);
    }
}
